{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="mom-logo">
            <div class="logo">
                <img src="{% static 'img/logo.jpeg' %}" alt="">
            </div>
        </div>
        <h2>SIGN UP</h2>
        <div class="alert-danger"></div>
        <div class="alert-success"></div>
        <div class="form-signUp">
            <form method="post" id="signup">
                {% csrf_token %}
                <div class="row">
                    <input type="text" name="fullname" id="fullname" placeholder="Enter your Full Name" required>
                    <i class="fa fa-user"></i>
                </div>
                <div class="row">
                    <input type="text" name="m_no" id="m_no" placeholder="Enter your Matric No." required>
                    <i class="fa fa-id-card"></i>
                </div>
                <div class="row">
                    <input type="text" name="department" id="department" placeholder="Enter your Department" required>
                    <i class="fa fa-building"></i>
                </div>
                <div class="row">
                    <input type="text" name="jamb_no" id="jamb_no" placeholder="Enter your Jamb No." required>
                    <i class="fa fa-id-badge"></i>
                </div>
                {% comment %} <div class="row">
                    <input type="text" name="date_now" id="date_now" placeholder="Current Date"  required>
                    <i class="fa fa-calendar"></i>
                </div> {% endcomment %}
                <div class="row">
                    <input type="number" name="year_admitted" id="year_admitted" placeholder="Year Admitted" required>
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="row">
                    <input type="text" name="phone_number" id="phone_number" placeholder="Enter your Phone No." required>
                    <i class="fa fa-phone"></i>
                </div>
                <div class="row">
                    <input type="password" name="password" id="password" placeholder="Enter your Password" required>
                    <i class="fa fa-lock"></i>
                </div>
                <div class="row">
                    <input type="password" name="comfirm_password" id="comfirm_password" placeholder="Confirm your Password" required>
                    <i class="fa fa-lock"></i>
                </div>
                <div class="btn">
                    <div>
                        <input type="checkbox" name="" id="">
                        <span>Remember Me</span>
                    </div>
                    <button>Sign Up</button>
                </div>
                <div class="link">
                    <span>Already have an Account</span> <a href="/">Login</a>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'js/JQ.js' %}"></script>
    <script>
        $(document).on('submit', '#signup', function (e){
            e.preventDefault();
            var green = $(".alert-success");
            var red = $(".alert-danger");
            var formData = new FormData(this); // Pass 'this' instead of $(this)[0]
            $.ajax({
                type: 'POST',
                url: '/signup/',
                data: formData,
                processData: false, // Ensure data is not processed for FormData
                contentType: false, // Ensure proper content type for FormData
                success: function (response){
                    var success = response['success'];
                    if(success){
                        // NORMAL ALERT warning, error, success
                        red.removeClass("block");
                        green.html('');
                        green.addClass("block");
                        green.append(response['message']);
                        window.location.href = '/';
                    }else{
                        green.removeClass("block");
                        red.html('');
                        red.addClass("block");
                        red.append(response['message']);
                    }
                }
            });
        });
    </script>
</body>
</html>