*{
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 -40px 0 0;
}

h2, .row, .btn{
    margin-bottom: 10px;
    z-index: 1000;
}

.row{
    border: 1px solid rgb(221, 220, 220);
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
}

.fa{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row input, select{
    border: none;
    padding: 10px;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    width: 100%;
}

button{
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(2, 96, 2);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
    background-color: rgb(2, 96, 2) !important;
}

.link a{
    text-decoration: none;
    color: rgb(5, 107, 209);
}

.form{
    background-color: rgba(2, 96, 2, 0.457);
    padding: 50px 100px 50px 100px;
    border-radius: 9px;
    z-index: 1000;
}

.form-signUp{
    background-color: rgba(2, 96, 2, 0.457);
    padding: 50px 100px 50px 100px;
    border-radius: 9px;
    height: 70vh;
    overflow-x: hidden;
    z-index: 1000;
}

form{
    margin-left: -50px;
}

.mom-logo{
    position: absolute;
}

.logo{
    background-color: rgba(2, 96, 2);
    height: 50vh;
    width: 100vw;
    text-align: center;
    opacity: .2;
    z-index: -100;
}
.logo img{
    border-radius: 50%;
    z-index: -100;
}

/* Dashboard */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    width: 100%;
    background-color: rgba(2, 96, 2, 0.457);
    font-size: 19px;
    font-weight: 500;
    height: 10vh;
    z-index: 1000;
}

header ul li img{
    border-radius: 50%;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 9px;
}

nav{
    position: absolute;
    left: 0; right: 0;
    display: none;
}

nav .nav{
    background-color: rgba(1, 136, 1, 0.97);
    height: calc(100vh - 10vh);
    width: 400px;
    overflow-x: hidden;
    margin-top: 100.5px;
    position: fixed;
    z-index: 1000;
}

nav .nav ul a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

nav .nav ul{
    margin-top: 10px;
    background-color: rgba(2, 96, 2, 0.39);
}

.nav div{
    text-align: right;
    padding: 10px;
}

.show{
    display: block;
}

.nav div span{
    cursor: pointer;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
}

.body-section .dash{
    top: 200px;
}


.body-content{
    position: absolute;
    left: 0; right: 0;
    top: 110px;
    background-color: rgba(2, 96, 2, 0.555);
    height: 70vh;
    margin: 10px;
    padding: 10px;
    z-index: 100;
}

.body-content .body .cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1000;
}

.body-content .body .card{
    background-color: #fff;
    height: 50px;
    margin-bottom: 9px;
    width: 25rem;
    margin: 9px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}

.cards .fa-users, .fa-money, .fa-user, .fa-list, .fa-user-circle, 
.nav .fa-users, .fa-money, .fa-user, .fa-lock, .fa-id-card,
.fa-building, .fa-id-badge, .fa-calendar, .fa-phone, .fa-envelope, .fa-check, .fa-print{
    background-color: rgba(2, 96, 2, 0.555);
    color: #fff;
    padding: 20px;
}

.fa-power-off{
    background-color: rgba(155, 4, 4, 0.737);
    color: #fff;
    padding: 20px;
}

.table{
    background-color: #fff;
    z-index: 100;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 50vh;
    overflow: scroll;
}

/* table {
    margin: 200px 0 30px 10px;
} */

thead{
    background-color: rgb(133, 132, 132);
}

table, tbody, thead, th, td{
    border: 1px solid rgb(197, 197, 197);
    border-collapse: collapse;
    padding: 10px 30px 10px 30px;
}

.form{
    z-index: 100;
    height: 50vh;
    overflow-x: hidden;
    width: 20%;
}

.fa-trash{
    background-color: red;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.fa-close{
    background-color: rgba(170, 11, 11, 0.555);
    color: #fff;
    padding: 20px;
}

.alert-danger{
    background-color: rgba(254, 60, 86, 0.586);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid red;
    font-size: 20px;
    color: rgb(128, 4, 4);
    display: none;
}

.alert-success{
    background-color: rgba(6, 167, 94, 0.586);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(2, 103, 58, 0.586);
    font-size: 20px;
    color: rgba(1, 36, 20, 0.758);
    display: none;
}

.alert-danger.block {
    display: block;
}

.alert-success.block {
    display: block;
}