{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clearance Report for - {{user.full_name}} </title>
    <link rel="stylesheet" href="{% static 'clearance-report.css' %}">
</head>
<body>
    <div class="con">
        <div class="clearance">
            <nav>
                <div class="heading">
                    <img src="{% static 'img/logo.jpeg' %}" alt="">
                    <h1>AL-QALAM UNIVERSITY KATSINA CLEARANCE REPORT</h1>
                </div>
                <div class="sub-heading">
                    <span>Office of Registrar</span>
                </div>
            </nav>

            <div class="section-1">
                <div>
                    <b><span>Surname:</span></b>
                    <span>{{user.full_name}}</span>
                </div>
                <div>
                    <b><span>Matric No.:</span></b>
                    <span>{{user.matric_no}}</span>
                </div>
                <div>
                    <b><span>Department.:</span></b>
                    <span>{{user.department}}</span>
                </div>
                <div>
                    <b><span>Jamb No.:</span></b>
                    <span>{{user.jamb_no}}</span>
                </div>
                <div>
                    <b><span>Date:</span></b>
                    <span>{{user.current_date}}</span>
                </div>
                <div>
                    <b><span>Year Admitted:</span></b>
                    <span>{{user.year_addmitted}}</span>
                </div>
                <div>
                    <b><span>Phone Number:</span></b>
                    <span>{{user.phone_number}}</span>
                </div>
            </div>
            <div class="section-2">
                <h5>
                    The Above named graduate has been cleared for any liability from the blow Departments:
                </h5>
                <div class="p">
                    <div>
                        <b><span>Library:</span></b>
                        &nbsp;&nbsp;&nbsp;
                        <span>Cleared</span>
                    </div>
                    <div>
                        <b><span>Name:</span></b>
                        &nbsp;&nbsp;&nbsp;
                        <span>{{library}}</span>
                    </div>
                </div>
                <div class="p">
                    <div>
                        <b><span>H.O.D:</span></b>
                        &nbsp;&nbsp;&nbsp;
                        <span>Cleared</span>
                    </div>
                    <div>
                        <b><span>Name:</span></b>
                        &nbsp;&nbsp;&nbsp;
                        <span>{{h_o_d}}</span>
                    </div>
                </div>
                <div class="p">
                    <div>
                        <b><span>Hostel:</span></b>
                        &nbsp;&nbsp;&nbsp;
                        <span>Cleared</span>
                    </div>
                    <div>
                        <b><span>Name:</span></b>
                        &nbsp;&nbsp;&nbsp;
                        <span>{{hostel}}</span>
                    </div>
                </div>
                <div class="p">
                    <div>
                        <b><span>Bursary:</span></b>
                        &nbsp;&nbsp;&nbsp;
                        <span>Cleared</span>
                    </div>
                    <div>
                        <b><span>Name:</span></b>
                        &nbsp;&nbsp;&nbsp;
                        <span>{{bursary}}</span>
                    </div>
                </div>
            </div>

            <div class="section-1 sec-3">
                <h1>Acknowledgement</h1>
                <div>
                    <span>I hereby acknowledge receipt of my:</span>
                    <span></span>
                </div>
                <div>
                    <span>STUDENT</span>
                    <span>{{user.full_name}}</span>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function() {
            print();
        };
    </script>
</body>
</html>