{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clearance Report for - </title>
    <link rel="stylesheet" href="{% static 'clearance-report.css' %}">
</head>
<body>
    <div class="con">
        <div class="clearance">
            <nav>
                <div class="heading">
                    <img src="{% static 'img/logo.jpeg' %}" alt="">
                    <h1>AL-QALAM UNIVERSITY KATSINA CLEARANCE REPORT</h1>
                </div>
                <div class="sub-heading">
                    <span>Office of Registrar</span>
                </div>
            </nav>

            <div class="section-1">
                <div>
                    <span>Surname:</span>
                    <span></span>
                </div>
                <div>
                    <span>Other Names:</span>
                    <span></span>
                </div>
                <div>
                    <span>Matric No.:</span>
                    <span></span>
                </div>
                <div>
                    <span>Department.:</span>
                    <span></span>
                </div>
                <div>
                    <span>Jamb No.:</span>
                    <span></span>
                </div>
                <div>
                    <span>Date:</span>
                    <span></span>
                </div>
                <div>
                    <span>Year Admitted:</span>
                    <span></span>
                </div>
                <div>
                    <span>Phone Number:</span>
                    <span></span>
                </div>
            </div>
            <div class="section-2">
                <h5>
                    The Above named graduate has been cleared for any liability from the blow Departments:
                </h5>
                <div class="p">
                    <div>
                        <span>Library:</span>
                        <span></span>
                    </div>
                    <div>
                        <span>Name:</span>
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="section-1 sec-3">
                <h1>Acknowledgement</h1>
                <div>
                    <span>I hereby acknowledge receipt of my:</span>
                    <span></span>
                </div>
                <div>
                    <span>STUDENT</span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>