{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - User Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="dasboard-con">
        <header>
            <ul>
                <li id="open">
                    <img src="{% static 'img/logo.jpeg' %}" alt="" height="80" width="80">
                </li>
                <li>Alqalam S.C</li>
            </ul>
            <ul>
                <li>Username</li>
                <li><i class="fa fa-user-circle"></i></li>
            </ul>
        </header>
    
        <nav id="nav">
            <div class="nav">
                <div>
                    <span id="close">X</span>
                </div>
                {% if user.is_superuser %}
                <ul>
                    <li>
                        <i class="fa fa-user"></i>
                        <a href="/user-management">User Management</a>
                    </li>
                </ul>
                {% endif %}
                {% if user.is_staff and not user.is_superuser %}
                <ul>
                    <li>
                        <i class="fa fa-users"></i>
                        <a href="/student-management">Student Management</a>
                    </li>
                </ul>
                {% endif %}
                {% if not user.is_superuser %}
                <ul>
                    <li>
                        <i class="fa fa-check"></i>
                        <a href="/clearance">Clearance</a>
                    </li>
                </ul>
                {% endif %}
                <ul>
                    <li>
                        <i class="fa fa-lock"></i>
                        <a href="/change-password">Change Password</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <i class="fa fa-power-off">
                            &nbsp;<a href="/logout">Logout</a>
                        </i>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="body-section">
            <div class="body-content">
                <div class="body">
                    <a href="/dashboard">
                        <h2>Dashboard</h2>
                    </a>
                    <h2>USER MANAGEMENT</h2>
                    <div class="cards">
                        <div class="card">
                            <i class="fa fa-user-circle"></i>
                            &nbsp;
                            <span>
                                <a href="/add-user">
                                    <strong>Add User</strong>
                                </a>
                            </span>
                        </div>
                        <div class="card">
                            <i class="fa fa-list"></i>
                            &nbsp;
                            <span>
                                <a href="/user-record">
                                    <strong>Users Record</strong>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mom-logo dash">
                <div class="logo">
                    <img src="{% static 'img/logo.jpeg' %}" alt="">
                </div>
            </div>
        </section>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body> 
</html>